(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_parameters_in_scopes: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("\\\\wsl.localhost\\FedoraLinux-42\\home\\otkuda\\itmo_projects\\soc\\scr1\\lab3\\2stage.vcd"),
        format: Vcd,
        active_scope: Some(WaveScope((
            strs: [
                "TOP",
                "scr1_top_tb_ahb",
                "i_top",
                "i_core_top",
                "i_pipe_top",
                "i_pipe_exu",
            ],
            id: Wellen((21)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (10),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (11),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (14),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (16),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (15),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (17),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (21),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (22),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (18),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (19),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (20),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (23),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (24),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (25),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (26),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (27),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (28),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (29),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
            ],
        ),
        displayed_items: {
            (17): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("instr decode"),
            )),
            (19): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_idu",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "funct7",
                    id: Wellen((1699)),
                ),
                color: None,
                background_color: None,
                display_name: "funct7 [6:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "new_pc",
                    id: Wellen((961)),
                ),
                color: None,
                background_color: None,
                display_name: "new_pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_memory_tb",
                        ],
                        id: Wellen((5)),
                    ),
                    name: "clk",
                    id: Wellen((398)),
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_imem_ahb",
                        ],
                        id: Wellen((98)),
                    ),
                    name: "imem_req",
                    id: Wellen((2494)),
                ),
                color: None,
                background_color: None,
                display_name: "imem_req",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (20): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_idu",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "funct12",
                    id: Wellen((1700)),
                ),
                color: None,
                background_color: None,
                display_name: "funct12 [11:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (21): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_idu",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "ifu2idu_instr_i",
                    id: Wellen((1662)),
                ),
                color: None,
                background_color: None,
                display_name: "ifu2idu_instr_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (27): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_main_op1",
                    id: Wellen((1338)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_main_op1 [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_imem_ahb",
                        ],
                        id: Wellen((98)),
                    ),
                    name: "imem_addr",
                    id: Wellen((2495)),
                ),
                color: None,
                background_color: None,
                display_name: "imem_addr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (18): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_idu",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "funct3",
                    id: Wellen((1698)),
                ),
                color: None,
                background_color: None,
                display_name: "funct3 [2:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (28): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_main_op2",
                    id: Wellen((1339)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_main_op2 [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (26): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_addr_res",
                    id: Wellen((1343)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_addr_res [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (29): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_main_res",
                    id: Wellen((1340)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_main_res [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (10): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("imem"),
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_imem_ahb",
                        ],
                        id: Wellen((98)),
                    ),
                    name: "imem_resp",
                    id: Wellen((2497)),
                ),
                color: None,
                background_color: None,
                display_name: "imem_resp [1:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                        ],
                        id: Wellen((13)),
                    ),
                    name: "curr_pc",
                    id: Wellen((958)),
                ),
                color: None,
                background_color: None,
                display_name: "curr_pc [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (25): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_addr_op2",
                    id: Wellen((1342)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_addr_op2 [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (11): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("instr fetch"),
            )),
            (16): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_ifu",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "imem2ifu_rdata_i",
                    id: Wellen((1710)),
                ),
                color: None,
                background_color: None,
                display_name: "imem2ifu_rdata_i [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (23): Divider((
                color: Some("Red"),
                background_color: None,
                name: Some("Execution"),
            )),
            (14): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_ifu",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "ifu2imem_addr_o",
                    id: Wellen((1709)),
                ),
                color: None,
                background_color: None,
                display_name: "ifu2imem_addr_o [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_imem_ahb",
                        ],
                        id: Wellen((98)),
                    ),
                    name: "imem_rdata",
                    id: Wellen((2496)),
                ),
                color: None,
                background_color: None,
                display_name: "imem_rdata [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (15): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_ifu",
                        ],
                        id: Wellen((40)),
                    ),
                    name: "ifu2idu_instr_o",
                    id: Wellen((1720)),
                ),
                color: None,
                background_color: None,
                display_name: "ifu2idu_instr_o [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (22): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_idu",
                        ],
                        id: Wellen((38)),
                    ),
                    name: "instr",
                    id: Wellen((1694)),
                ),
                color: None,
                background_color: None,
                display_name: "instr [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
            (24): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "TOP",
                            "scr1_top_tb_ahb",
                            "i_top",
                            "i_core_top",
                            "i_pipe_top",
                            "i_pipe_exu",
                        ],
                        id: Wellen((21)),
                    ),
                    name: "ialu_addr_op1",
                    id: Wellen((1341)),
                ),
                color: None,
                background_color: None,
                display_name: "ialu_addr_op1 [31:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
            )),
        },
        display_item_ref_counter: 29,
        viewports: [
            (
                curr_left: (0.06383819312195158),
                curr_right: (0.09116197491474759),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            466,
        ])),
        markers: {},
        focused_item: Some((18)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (13),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(388.0),
    ui_zoom_factor: None,
)